$mbWidth: 767px;
$primaryBorder:1px solid gainsboro;
$secondaryBorder:2px solid gainsboro;
$primaryColor:gray;
$primaryBoxShadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
$secondaryBoxShadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
